.overlay {
  position: fixed;
  z-index:99;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;

  &:target {
    visibility: visible;
    opacity: 1;
  }
}


.popup {
  font-family: $font;
  text-align: left;
  margin: 50px auto;
  padding: 20px;
  background:  $bg-main;
  border-radius: 5px;
  width: 70%;
  position: relative;
  transition: all 2s ease-in-out;

  @media #{$desktop}{
    width:60%;
  }

  h2 {
    margin-top: 20px;
    margin-left:20px;
    color: $white-font;
    font-size:1.3rem;
    font-weight:bold;
  }
}

.popup__close {
  position: absolute;
  top: 35px;
  right: 35px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;

    @media screen and (max-width: 480px) {
      top: 35px;
  right: 15px;
}

}
.popup__content {
  color:$white-font;
  padding:50px 20px;
  text-align:justify;
  opacity:0.8;
  overflow: auto;
  font-size:1.1em;

  @media screen and (max-width: 480px) {
  padding:25px 10px 5px 10px;
  text-align: left;
}
}
.popup__image{
  display:none;
  
  @media #{$tablet}{
    display:block;
    width:160px;
    margin:0 auto 30px auto;
  }

  @media #{$tablet_more}{
    width:230px;
  }

  @media #{$desktop}{
    width:300px;
    float:left;
    margin-right:30px
  }

}
.popup__text{
  font-size:1rem;
  hyphens:auto;

  @media #{$desktop}{
    font-size:1.2rem;
  }
}