
/*----------  Polices  ----------*/

// @font-face {
// 	font-family: '';
// 	src: url('') format('truetype');
// 	font-style: normal;
// 	font-weight: 400;
// }

$font:Raleway, Helvetica, sans-serif;


/*----------  Medias Queries  ----------*/

$tablet: "(min-width:600px)";
$tablet_more : "(min-width:750px)";
$desktop: "(min-width: 980px)";


/*---------- Couleurs ----------*/

$bg-main : #354B24;
$bg-one : #f5c347;
$bg-two : #f6c95c;
$bg-three : #f5c347;
$white-font: #ffffff;


/*----------  Framework  ----------*/

@import "global/functions";
@import "global/reset";


/*----------  Global  ----------*/

@import "body";
@import "header";
@import "footer";
@import "popup";